@model Example.Covid19.WebUI.ViewModels.LiveByCountryAndStatusAfterDateViewModel
@{
  ViewData["Title"] = "Live By Country and Status After Date";
}

<h1>Live By Country And Status After Date</h1>

<div class="mb-3">
  <div asp-validation-summary="All" class="text-danger"></div>
  <form class="form-inline" method="post" asp-controller="LiveByCountryAndStatusAfterDate" asp-action="GetLiveByCountryAndStatusAfterDate">
    <select class="form-control mx-2" asp-for="Country" asp-items="@Model.Countries">
      <option selected value="">-- Seleccione un país --</option>
    </select>
    <select class="form-control mx-2" asp-for="StatusType" asp-items="@Model.StatusTypeList">
      <option selected value="">-- Seleccione tipo de caso --</option>
    </select>
    <input type="date" id="liveByCountryAndStatusAfterDate_Date" class="form-control mx-2" asp-for="Date" />
    <button id="liveByCountryAndStatusAfterDateSearchButton" class="btn btn-outline-success mx-2" type="submit">Buscar</button>
  </form>
</div>

@if (Model.LiveByCountryAndStatusAfterDate != null)
{
  if (Model.LiveByCountryAndStatusAfterDate.Count() == 0)
  {
    <div class="alert alert-info">No hay resultados para esta búsqueda. Inténtalo de nuevo con otro criterio.</div>
  }
  else
  {
    <partial name="_Pagination" model="Model.LiveByCountryAndStatusAfterDate" 
             view-data='@new ViewDataDictionary(ViewData) { { "actionName", "GetLiveByCountryAndStatusAfterDate" } }'/>
    
    <table class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th scope="col">País</th>
          <th scope="col">Código País</th>
          <th scope="col">Provincia</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Código Ciudad</th>
          <th scope="col">Latitud</th>
          <th scope="col">Longitud</th>
          <th scope="col">Confirmados</th>
          <th scope="col">Muertes</th>
          <th scope="col">Recuperados</th>
          <th scope="col">Activos</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var liveByCountryAndStatusAfterDate in Model.LiveByCountryAndStatusAfterDate)
        {
          <tr class="text-center">
            <td>@liveByCountryAndStatusAfterDate.Country</td>
            <td>@liveByCountryAndStatusAfterDate.CountryCode</td>
            <td>@liveByCountryAndStatusAfterDate.Province</td>
            <td>@liveByCountryAndStatusAfterDate.City</td>
            <td>@liveByCountryAndStatusAfterDate.CityCode</td>
            <td>@liveByCountryAndStatusAfterDate.Lat</td>
            <td>@liveByCountryAndStatusAfterDate.Lon</td>
            <td>@liveByCountryAndStatusAfterDate.Confirmed</td>
            <td>@liveByCountryAndStatusAfterDate.Deaths</td>
            <td>@liveByCountryAndStatusAfterDate.Recovered</td>
            <td>@liveByCountryAndStatusAfterDate.Active</td>
            <td>@liveByCountryAndStatusAfterDate.Date.ToString("dd/MM/yyyy")</td>
          </tr>
        }
      </tbody>
    </table>

    <partial name="_Pagination" model="Model.LiveByCountryAndStatusAfterDate"
             view-data='@new ViewDataDictionary(ViewData) { { "actionName", "GetLiveByCountryAndStatusAfterDate" } }' />
  }
}