@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;

@model Example.Covid19.WebUI.ViewModels.ByCountryTotalViewModel
@{
  ViewData["Title"] = "By Country Total";
}

<h1>By Country Total</h1>

<div class="mb-3">
  <div asp-validation-summary="All" class="text-danger"></div>
  <form class="form-inline my-2 my-lg-0" asp-controller="ByCountryTotal" asp-action="GetByCountryTotal" method="post">
    <select class="custom-select" asp-for="Country" asp-items="@Model.Countries">
      <option selected value="">-- Seleccione un país --</option>
    </select>
    <select class="custom-select" asp-for="StatusType" asp-items="@Model.StatusTypeList">
      <option selected value="">-- Seleccione estado caso --</option>
    </select>
    <input type="date" id="byCountryTotalDateFrom" class="custom-select" asp-for="DateFrom" />
    <input type="date" id="byCountryTotalDateTo" class="custom-select" asp-for="DateTo" />
    <button id="byCountryTotalSearchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</div>

@if (Model.ByCountryTotal != null)
{
  if (Model.ByCountryTotal.Count() == 0)
  {
    <div class="alert alert-info">No hay resultados para esta búsqueda. Inténtalo de nuevo con otro criterio.</div>
  }
  else
  {
    var byCountryTotalFilterList = ViewBag.ByCountryTotalFilterList;

    @Html.PagedListPager((IPagedList)byCountryTotalFilterList, page => Url.Action("GetByCountryTotal", new { page = page }),
        new PagedListRenderOptions
        {
          LinkToFirstPageFormat = "<< Primera",
          LinkToPreviousPageFormat = "< Anterior",
          LinkToNextPageFormat = "Siguiente >",
          LinkToLastPageFormat = "&Uacute;ltima >>",
          LiElementClasses = new string[] { "page-item" },
          PageClasses = new string[] { "page-link" }
        }
    )
    <table class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th scope="col">País</th>
          <th scope="col">Código País</th>
          <th scope="col">Latitud</th>
          <th scope="col">Longitud</th>
          <th scope="col">Casos</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var byCountryTotal in byCountryTotalFilterList)
        {
          <tr class="text-center">
            <td>@byCountryTotal.Country</td>
            <td>@byCountryTotal.CountryCode</td>
            <td>@byCountryTotal.Lat</td>
            <td>@byCountryTotal.Lon</td>
            <td>@byCountryTotal.Cases</td>
            <td>@byCountryTotal.Date.ToString("dd/MM/yyyy")</td>
          </tr>
        }
      </tbody>
    </table>
    @Html.PagedListPager((IPagedList)byCountryTotalFilterList, page => Url.Action("GetByCountryTotal", new { page = page }),
        new PagedListRenderOptions
        {
          LinkToFirstPageFormat = "<< Primera",
          LinkToPreviousPageFormat = "< Anterior",
          LinkToNextPageFormat = "Siguiente >",
          LinkToLastPageFormat = "&Uacute;ltima >>",
          LiElementClasses = new string[] { "page-item" },
          PageClasses = new string[] { "page-link" }
        }
    )
  }
}