@model Example.Covid19.WebUI.ViewModels.SummaryViewModel
@{
    ViewData["Title"] = "Resumen";

    var Summary = Model.Summary;
}

<h1>Resumen</h1>

<h2>Global</h2>
<p><strong>Fecha actualizada:</strong> @Summary.Date</p>

<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th scope="col">Casos nuevos</th>
      <th scope="col">Total casos</th>
      <th scope="col">Muertes nuevas</th>
      <th scope="col">Total muertos</th>
      <th scope="col">Nuevas recuperadas</th>
      <th scope="col">Total recuperadas</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      @if (@Model.Summary.Global.NewConfirmed > 0)
      {
        <td class="text-warning">+@Summary.Global.NewConfirmed</td>
      }
      else
      {
        <td>@Summary.Global.NewConfirmed</td>
      }

      <td class="bg-warning">@Summary.Global.TotalConfirmed</td>

      @if (@Summary.Global.NewDeaths > 0)
      {
        <td class="text-danger">+@Summary.Global.NewDeaths</td>
      }
      else
      {
        <td>@Summary.Global.NewDeaths</td>
      }

      <td class="bg-danger text-white">@Summary.Global.TotalDeaths</td>

      @if (@Summary.Global.NewRecovered > 0)
      {
        <td class="text-success">+@Summary.Global.NewRecovered</td>
      }
      else
      {
        <td>@Summary.Global.NewRecovered</td>
      }

      <td class="bg-success text-white">@Summary.Global.TotalRecovered</td>
    </tr>
  </tbody>
</table>

<h2>Casos por países</h2>
<p><strong>Fecha actualizada:</strong> @Summary.Date</p>

<partial name="_Pagination" model="Model.CountriesSummary" view-data='@new ViewDataDictionary(ViewData) { { "actionName", "GetSummary" } }'/>

<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th scope="col">País</th>
      <th scope="col">Casos nuevos</th>
      <th scope="col">Total casos</th>
      <th scope="col">Muertes nuevas</th>
      <th scope="col">Total muertos</th>
      <th scope="col">Nuevas recuperadas</th>
      <th scope="col">Total recuperadas</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var country in Model.CountriesSummary)
    {
      <tr class="text-center">
        <td>@country.Country</td>

        @if (@country.NewConfirmed > 0)
        {
          <td class="text-warning">+@country.NewConfirmed</td>
        }
        else
        {
          <td>@country.NewConfirmed</td>
        }

        <td class="bg-warning">@country.TotalConfirmed</td>

        @if (@country.NewDeaths > 0)
        {
          <td class="text-danger">+@country.NewDeaths</td>
        }
        else
        {
          <td>@country.NewDeaths</td>
        }

        <td class="bg-danger text-white">@country.TotalDeaths</td>

        @if (@country.NewRecovered > 0)
        {
          <td class="text-success">+@country.NewRecovered</td>
        }
        else
        {
          <td>@country.NewRecovered</td>
        }

        <td class="bg-success text-white">@country.TotalRecovered</td>
      </tr>
    }
  </tbody>
</table>

<partial name="_Pagination" model="Model.CountriesSummary" view-data='@new ViewDataDictionary(ViewData) { { "actionName", "GetSummary" } }' />