@model Example.Covid19.WebUI.ViewModels.ByCountryLiveViewModel
@{
  ViewData["Title"] = "By Country Live";
}

<h1 class="text-center">By Country Live</h1>

<div class="container mb-3">
  <div asp-validation-summary="All" class="text-danger"></div>
  <form class="form-inline" asp-controller="ByCountryLive" asp-action="GetByCountryLive">
    <select class="form-control mx-2" asp-for="Country" asp-items="@Model.Countries"></select>
    <select class="form-control mx-2" asp-for="StatusType" asp-items="@Model.StatusTypeList"></select>
    <input type="date" id="byCountryLiveDateFrom" class="form-control mx-2" asp-for="DateFrom" />
    <input type="date" id="byCountryLiveDateTo" class="form-control mx-2" asp-for="DateTo" />
    <button id="byCountryLiveSearchButton" class="btn btn-outline-success mx-2" type="submit">Buscar</button>
  </form>
</div>

@if (Model.ByCountryLive != null)
{
  if (Model.ByCountryLive.Count() == 0)
  {
    <div class="alert alert-info">No hay resultados para esta búsqueda. Inténtalo de nuevo con otro criterio.</div>
  }
  else
  {
    <div class="container">
      <table id="byCountryLiveTable" class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">País</th>
            <th scope="col">Código País</th>
            <th scope="col">Latitud</th>
            <th scope="col">Longitud</th>
            <th scope="col">Casos</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var byCountryLive in Model.ByCountryLive)
          {
            <tr class="text-center">
              <td>@byCountryLive.Country</td>
              <td>@byCountryLive.CountryCode</td>
              <td>@byCountryLive.Lat</td>
              <td>@byCountryLive.Lon</td>
              <td>@byCountryLive.Cases</td>
              <td>@byCountryLive.Date.ToString("dd/MM/yyyy")</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
}

@section Scripts {
  <script type="text/javascript">
    $(function () {
      $("#byCountryLiveTable").DataTable();
    });
  </script>
}
