@model Example.Covid19.WebUI.ViewModels.ByCountryViewModel
@{
  ViewData["Title"] = "By Country";
}

<h1>By Country</h1>

<div class="mb-3">
  <form class="form-inline my-2 my-lg-0" asp-controller="ByCountry" asp-action="GetByCountry" method="post">
    <select class="custom-select" asp-for="Country" asp-items="@Model.Countries">
      <option selected value="">-- Seleccione un país --</option>
    </select>
    <select class="custom-select" asp-for="StatusType" asp-items="@Model.StatusTypeList">
      <option selected value="">-- Seleccione estado caso --</option>
    </select>
    <input type="date" id="byCountryDateFrom" class="custom-select" asp-for="DateFrom" />
    <input type="date" id="byCountryDateTo" class="custom-select" asp-for="DateTo" />
    <button id="dayOneLiveSearchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</div>

@if (Model.ByCountry != null)
{
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">País</th>
        <th scope="col">Código País</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">Casos</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var dayOneLive in Model.ByCountry)
      {
        <tr class="text-center">
          <td>@dayOneLive.Country</td>
          <td>@dayOneLive.CountryCode</td>
          <td>@dayOneLive.Lat</td>
          <td>@dayOneLive.Lon</td>
          <td>@dayOneLive.Cases</td>
          <td>@dayOneLive.Date.ToString("dd/MM/yyyy")</td>
        </tr>
      }
    </tbody>
  </table>
}