@model Example.Covid19.WebUI.ViewModels.DayOneTotalViewModel
@{
  ViewData["Title"] = "Day One Total";
}

<h1>Day One Total</h1>

<div class="mb-3">
  <div asp-validation-summary="All" class="text-danger"></div>
  <form class="form-inline" method="post" asp-controller="DayOneTotal" asp-action="GetDayOneTotalByCountry">
    <select class="form-control mx-2" asp-for="Country" asp-items="@Model.Countries">
      <option selected value="">-- Seleccione un país --</option>
    </select>
    <select class="form-control mx-2" asp-for="StatusType" asp-items="@Model.StatusTypeList">
      <option selected value="">-- Seleccione tipo de caso --</option>
    </select>
    <button id="dayOneLiveSearchButton" class="btn btn-outline-success mx-2" type="submit">Buscar</button>
  </form>
</div>

@if (Model.DayOneTotal != null)
{
  if (Model.DayOneTotal.Count() == 0)
  {
    <div class="alert alert-info">No hay resultados para esta búsqueda. Inténtalo de nuevo con otro criterio.</div>
  }
  else
  {
    <partial name="_Pagination" model="Model.DayOneTotal" view-data='@new ViewDataDictionary(ViewData) { { "actionName", "GetDayOneTotalByCountry" } }'/>

    <table class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th scope="col">País</th>
          <th scope="col">Código País</th>
          <th scope="col">Latitud</th>
          <th scope="col">Longitud</th>
          <th scope="col">Casos</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var dayOneTotal in Model.DayOneTotal)
        {
          <tr class="text-center">
            <td>@dayOneTotal.Country</td>
            <td>@dayOneTotal.CountryCode</td>
            <td>@dayOneTotal.Lat</td>
            <td>@dayOneTotal.Lon</td>
            <td>@dayOneTotal.Cases</td>
            <td>@dayOneTotal.Date.ToString("dd/MM/yyyy")</td>
          </tr>
        }
      </tbody>
    </table>

    <partial name="_Pagination" model="Model.DayOneTotal" view-data='@new ViewDataDictionary(ViewData) { { "actionName", "GetDayOneTotalByCountry" } }' />
  }
}