@model Example.Covid19.WebUI.ViewModels.StatViewModel
@{
    ViewData["Title"] = "Estadísticas";

    var Stat = Model.Stat;
}

<h1>Estadísticas</h1>

<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th scope="col">Total</th>
      <th scope="col">All</th>
      <th scope="col">Countries</th>
      <th scope="col">By Country</th>
      <th scope="col">By Country Live</th>
      <th scope="col">By Country Total</th>
      <th scope="col">Day One</th>
      <th scope="col">Day One Live</th>
      <th scope="col">Day One Total</th>
      <th scope="col">Live Country Status</th>
      <th scope="col">Live Country Status After Date</th>
      <th scope="col">Stats</th>
      <th scope="col">Default</th>
      <th scope="col">Summary</th>
    </tr>
  </thead>
  <tbody>
      <tr class="text-center">
        <td>@Stat.Total</td>
        <td>@Stat.All</td>
        <td>@Stat.Countries</td>
        <td>@Stat.ByCountry</td>
        <td>@Stat.ByCountryLive</td>
        <td>@Stat.ByCountryTotal</td>
        <td>@Stat.DayOne</td>
        <td>@Stat.DayOneLive</td>
        <td>@Stat.DayOneTotal</td>
        <td>@Stat.LiveCountryStatus</td>
        <td>@Stat.LiveCountryStatusAfterDate</td>
        <td>@Stat.Stats</td>
        <td>@Stat.Default</td>
        <td>@Stat.Summary</td>
      </tr>
  </tbody>
</table>