@model Example.Covid19.WebUI.DTO.StatsCases.Stat
@{
    ViewData["Title"] = "Estadísticas";
}

<h1>Estadísticas</h1>

<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th scope="col">Total</th>
      <th scope="col">All</th>
      <th scope="col">Countries</th>
      <th scope="col">ByCountry</th>
      <th scope="col">ByCountry Live</th>
      <th scope="col">ByCountry Total</th>
      <th scope="col">Day One</th>
      <th scope="col">Day One Live</th>
      <th scope="col">Day One Total</th>
      <th scope="col">Live Country Status</th>
      <th scope="col">Live Country Status After Date</th>
      <th scope="col">Stats</th>
      <th scope="col">Default</th>
      <th scope="col">Summary</th>
    </tr>
  </thead>
  <tbody>
      <tr class="text-center">
        <td>@Model.Total</td>
        <td>@Model.All</td>
        <td>@Model.Countries</td>
        <td>@Model.ByCountry</td>
        <td>@Model.ByCountryLive</td>
        <td>@Model.ByCountryTotal</td>
        <td>@Model.DayOne</td>
        <td>@Model.DayOneLive</td>
        <td>@Model.DayOneTotal</td>
        <td>@Model.LiveCountryStatus</td>
        <td>@Model.LiveCountryStatusAfterDate</td>
        <td>@Model.Stats</td>
        <td>@Model.Default</td>
        <td>@Model.Summary</td>
      </tr>
  </tbody>
</table>