@model Example.Covid19.WebUI.ViewModels.DayOneViewModel
@{
  ViewData["Title"] = "Day One";
}

<h1 class="text-center">Day One</h1>

<div class="container mb-3">
  <div asp-validation-summary="All" class="text-danger"></div>
  <form class="form-inline" asp-controller="DayOne" asp-action="GetDayOneByCountry">
    <select class="form-control mx-2" asp-for="Country" asp-items="@Model.Countries"></select>
    <select class="form-control mx-2" asp-for="StatusType" asp-items="@Model.StatusTypeList"></select>
    <button id="dayOneSearchButton" class="btn btn-outline-success mx-2" type="submit">Buscar</button>
  </form>
</div>

@if (Model.DayOne != null)
{
  if (Model.DayOne.Count() == 0)
  {
    <div class="alert alert-info">No hay resultados para esta búsqueda. Inténtalo de nuevo con otro criterio.</div>
  }
  else
  {
    <div class="container">
      <table id="dayOneTable" class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">País</th>
            <th scope="col">Código País</th>
            <th scope="col">Latitud</th>
            <th scope="col">Longitud</th>
            <th scope="col">Casos</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var dayOne in Model.DayOne)
          {
            <tr class="text-center">
              <td>@dayOne.Country</td>
              <td>@dayOne.CountryCode</td>
              <td>@dayOne.Lat</td>
              <td>@dayOne.Lon</td>
              <td>@dayOne.Cases</td>
              <td>@dayOne.Date.ToString("dd/MM/yyyy")</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
}

@section Scripts {
  <script type="text/javascript">
    $(function () {
      $("#dayOneTable").DataTable();
    });
  </script>
}
